<div class="row mt-5">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="row mb-3">
            <div class="col">
                <h1>Edit</h1>
            </div>
        </div>
        <%= render "form", person: @person%>
    </div>
</div>

<div class="row mt-2 mb-2 mt-md-3 mb-md-3">
    <div class="col col-md-6 offset-md-3">
        <hr/>
        <%= link_to "Destroy", person_url(@person), class: "link-danger link-underline-opacity-25 link-underline-opacity-75-hover link-offset-2 link-opacity-50 link-opacity-100-hover", data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure to delete?",
                            turbo_prefetch: :false
                        }%>
    </div>
</div>
